# Task-5

In [2]:
'''From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks
'''

'From the above dictionary, do the following tasks\n\naccess "Mike"\naccess 80\nchange "Mike" to "Your name"\nadd ML = 80 and DL = 80 inside marks\n'

In [60]:
#access "Mike"
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [61]:
print(dict1)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [62]:
#access "mike"
dict1['april_batch']['student']['name']

'Mike'

In [63]:
#access "mike"
dict1['april_batch']['student']['name']

'Mike'

In [64]:
#access 80
dict1['april_batch']['student']['marks']['python']

80

In [65]:
#change "mike" to "bhavesh"
dict1['april_batch']['student']['name']="bhavesh"
print(dict1)

{'april_batch': {'student': {'name': 'bhavesh', 'marks': {'python': 80, 'maths': 70}}}}

In [67]:
#add ML = 80 and DL = 80 inside marks
dict1['april_batch']['student']['marks']['ML']=80
print(dict1)

{'april_batch': {'student': {'name': 'bhavesh', 'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [69]:
dict1['april_batch']['student']['marks']['DL']=80
print(dict1)

{'april_batch': {'student': {'name': 'bhavesh', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [ ]:
# how can we add 'ML'and'DL' both at same time?