<a href="https://colab.research.google.com/github/bhaveshdsharma/dataanalyticswithpython/blob/main/Task_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 10
## 1. using **while** loop print numbers from 10 to 1

In [ ]:
count = 10
while(count>0):
    print(count)
    count-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
count = 10
while(count>0):
    print(count)
    count-=1

else:
   print("end of while loop")

10
9
8
7
6
5
4
3
2
1
end of while loop

In [29]:
  count = 10
while(count>0):
  if (count==4):
    continue
  else:
    print(count)
    count-=1

else:
   print("end of while loop")

IndentationError: ignored

### 2. use of **For** loop for different data type

In [1]:
list1 = [1,2,3,4,5]

for item in list1:
    print(item)

1
2
3
4
5

In [2]:
# for loop for tuple
tup1 = (1,2,3,4,5)

for item in tup1:
    print(item)

1
2
3
4
5

In [4]:
type(tup1)

tuple

In [5]:
tup1 = ((1,2),(3,4),(5,6))

for item in tup1:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [6]:
#tuple unpacking

tup1 = ((1,2),(3,4),(5,6))

for (a,b) in tup1:
    print(b)

2
4
6

In [7]:
tup1 = ((1,2),(3,4),(5,6))

for (a,b) in tup1:
    print(a)

1
3
5

In [18]:
x= list(tup1)
x[2]=(7,8)
print(x)
x.append((7,8))
print(x)
x.insert(2,(5,6))
x.pop()
tup1
print(x)
tup1=tuple(x)
print(tup1)

[(1, 2), (3, 4), (7, 8), (7, 8)]
[(1, 2), (3, 4), (7, 8), (7, 8), (7, 8)]
[(1, 2), (3, 4), (5, 6), (7, 8), (7, 8)]
((1, 2), (3, 4), (5, 6), (7, 8), (7, 8))

In [20]:
# for loop for set ( output are un ordered)
set1= {"saffron","white","green"}

for colour in set1:
  print(colour)

white
saffron
green

In [24]:
set1= {"saffron","white","green"}

for colour in set1:
  print(colour)

white
saffron
green

In [5]:

count = 10

while(count>0):
  count-=1
  if count == 4:
    continue  
    
  else:
    print(count)

9
8
7
6
5
3
2
1
0

# Task 10.1 Use of **continue** with an example

In [13]:
#The continue statement  moves the control back to the top of the loop, it can be used for **while** and **for** loop both.
count = 11
while(count>0):
  count-=1
  if count == 6:
    continue
  print(count)
print("note: 6 is not printed")

10
9
8
7
5
4
3
2
1
0
note: 6 is not printed

In [17]:
mystring = "bhavesh"
l1= list(mystring)
print(l1)
for x in l1:
  if x == "h":
    continue
  print(x)
print("h is not printed because we used continue")

['b', 'h', 'a', 'v', 'e', 's', 'h']
b
a
v
e
s
h is not printed because we used continue

In [29]:
tup1= ((1,2),(3,4),(5,6))
for a,b in tup1:
  if a == 1 or a == 3:
    continue
  print(tup1)
print("the loop has ended")

((1, 2), (3, 4), (5, 6))
the loop has ended

# Task 10.2 use of pass in loops

In [30]:
# The pass statement is used as a placeholder. When the pass statement is executed,you avoid getting an error when empty code is not allowed.

In [38]:
tup2=("tiger","lion","cheetha")
for x in tup2:

SyntaxError: ignored

In [40]:
tup2=("tiger","lion","cheetha")
for x in tup2:
  pass
# didnt get error because used pass

In [42]:
a=5
b=7

if a*b == 35:
  print("correct")
else:
  pass

correct

In [43]:
a=8
b=7

if a*b == 35:
  print("correct")
else:
  pass