<a href="https://colab.research.google.com/github/bhaveshdsharma/dataanalyticswithpython/blob/main/Task_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
def sum (num1,num2):
  return(num1+num2)

In [17]:
def diff (num1,num2):
  return(num1-num2)

In [18]:
def multiply (num1,num2):
  return(num1*num2)

In [29]:
def divide(num1,num2):
  return(num1/num2)

In [59]:

print( "1. sum\n" "2. diff\n" "3. multiply\n" "4. divide\n")
select = int(input("select operation no you need to perform:"))

1. sum
2. diff
3. multiply
4. divide

select operation no you need to perform:2

num16
num22

In [62]:
  
if select == 1: 
    print(num1, "+", num2, "=", 
                    add(num1, num2)) 
  
elif select == 2: 
    print(num1, "-", num2, "=", 
                    diff(num1, num2)) 
  
elif select == 3: 
    print(num1, "*", num2, "=", 
                    multiply(num1, num2)) 
  
elif select == 4: 
    print(num1, "/", num2, "=", 
                    divide(num1, num2)) 
else: 
    print("Invalid input")

6 - 2 = 4